Task 1

1.
Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below
i 1 2 3 4 5 6 7 8 9 10
===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100
y1 25 = (10+20+30+40)/4
y2 35 = (20+30+40+50)/4
y3 45 = (30+40+50+60)/4
y4 55 = (40+50+60+70)/4
y5 65 = (50+60+70+80)/4
y6 75 = (60+70+80+90)/4
y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Problem Statement:
Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [3]:
import pandas as pd
import numpy as np

def findmovingaverage(arr, window):
    df = pd.DataFrame(arr)
    avg = df.rolling(window).mean()
    avg = avg.dropna(how='any')
    print(np.round(avg, 1))

mylist = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
findmovingaverage(mylist, 3)

        0
2     5.0
3     4.7
4     5.7
5     6.7
6     9.7
7    28.7
8    49.3
9    72.7
10   84.0
11   93.3
12  116.3

Task 2

1.
How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [148]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
y = []
x = (df.X != 0).cumsum()
y = x != x.shift()
y = y.groupby((y != y.shift()).cumsum()).cumsum()
df['Y'] = pd.DataFrame(y)
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

2.
Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [49]:
import pandas as pd
import numpy as np

df = pd.bdate_range(start='2015-01-01', end='2015-12-31', freq='B')
rand_var = [np.random.randint(1,400) for k in df]
s = pd.Series(data=rand_var, index=df)
print(s)

2015-01-01    125
2015-01-02    219
2015-01-05    293
2015-01-06     64
2015-01-07    354
2015-01-08     65
2015-01-09     20
2015-01-12    263
2015-01-13    249
2015-01-14     88
2015-01-15    281
2015-01-16    318
2015-01-19     64
2015-01-20    376
2015-01-21    368
2015-01-22    252
2015-01-23    114
2015-01-26    339
2015-01-27    344
2015-01-28     48
2015-01-29    217
2015-01-30     47
2015-02-02     94
2015-02-03     72
2015-02-04    327
2015-02-05    285
2015-02-06    199
2015-02-09     85
2015-02-10    146
2015-02-11     86
             ...
2015-11-20    268
2015-11-23    355
2015-11-24    194
2015-11-25     20
2015-11-26    185
2015-11-27    383
2015-11-30    324
2015-12-01    129
2015-12-02     47
2015-12-03    183
2015-12-04    224
2015-12-07    113
2015-12-08    244
2015-12-09    174
2015-12-10     14
2015-12-11    251
2015-12-14     31
2015-12-15    363
2015-12-16    113
2015-12-17    291
2015-12-18     18
2015-12-21    317
2015-12-22    395
2015-12-23     17
2015-12-24    337
2015-12-25     77
2015-12-28    229
2015-12-29     65
2015-12-30      2
2015-12-31    392
Freq: B, Length: 261, dtype: int64

3.
Find the sum of the values in s for every Wednesday

In [139]:
s_wednesday = s.groupby([lambda x: x.weekday_name]).sum()
print("Sum of the values in s for every wednesday : ", s_wednesday[4])

Sum of the values in s for every wednesday :  9539

4.
Average For each calendar month

In [51]:
average = s.groupby([lambda x: x.month_name()]).mean()
print(np.round(average, 1))

April        214.1
August       152.4
December     175.0
February     166.6
January      204.9
July         160.0
June         166.7
March        224.2
May          280.0
November     236.6
October      202.8
September    219.0
dtype: float64

5.
For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [52]:
s.groupby(pd.Grouper(freq='4BM')).agg(['idxmax', 'max'])[:3]

               idxmax  max
2015-01-30 2015-01-20  376
2015-05-29 2015-05-01  389
2015-09-30 2015-09-23  399